.bubbleWrap {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.bubble {
  border-radius: var(--br-circle);
  border: var(--bw1) solid var(--bubble-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.subtitleWrap {
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms linear;
  z-index: 3;
}

.subtitle {
  color: var(--bg-2);
  text-align: center;
  white-space: nowrap;
  opacity: 0.9;
  background-color: var(--brand-grey);
  border-radius: var(--br-pill);
  padding: var(--p1) var(--p2);
  font-size: var(--f7);
  margin-top: var(--p1);
  position: relative;
  left: -50%;
}

.bubble:hover + .subtitleWrap {
  opacity: 1;
  visibility: visible;
}
