.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  border-left: 1px solid var(--bg-1);
  border-right: 1px solid var(--bg-1);
  height: var(--h1);
  flex: none;
}

.pill {
  color: var(--bg-2);
  width: var(--h3);
  text-align: center;
  font-weight: 600;
  padding: var(--p1) var(--p2);
  border-radius: var(--br-pill);
  background-color: var(--brand-purple);
}
