.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--p3);
}

.title {
  font-size: var(--f4-5);
  font-weight: 600;
  text-align: center;
  color: var(--text-2);
}

.chevron {
  padding: var(--p2) var(--p3);
  font-size: var(--f2-3);
  color: var(--text-1);
}

.chevron:hover {
  cursor: pointer;
  color: var(--text-2);
}

.button {
  background-color: var(--bg-2);
  border: 0;
  margin: 0;
  padding: 0;
}
