.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--p3);
}

.title {
  font-size: var(--f4);
  font-weight: 600;
  text-align: center;
  color: var(--near-black);
}

.chevron {
  padding: var(--p2);
  font-size: var(--f2);
  color: var(--grey-500);
}

.chevron:hover {
  cursor: pointer;
  color: var(--grey-800);
}

.button {
  background-color: white;
  border: 0;
  margin: 0 var(--p4);
}
