.container {
  border: var(--bw1) solid var(--bg-1);
  border-radius: var(--br4);
  overflow: hidden;
  height: 100%;
}

.title {
  border-bottom: var(--bw1) solid var(--bg-1);
  background-color: var(--bg-1);
  padding: var(--p1);
  text-align: center;
  font-weight: 600;
  font-size: var(--f5);
  margin-top: 0;
  color: var(--text-2);
}
