.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.containerInner {
  width: 100%;
  padding: var(--p2);
}

.box {
  overflow: hidden;
  border: var(--bw1) solid var(--bg-1);
  border-radius: var(--br4);
}

.title {
  text-align: center;
  font-size: var(--f6);
  font-weight: 600;
  padding: var(--p1);
  color: var(--text-2);
}

.list {
  padding: var(--p2) var(--p3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subtitle {
  width: 50%;
  margin-bottom: var(--p2);
}

.subtitleText {
  font-size: var(--f6);
  color: var(--text-1);
}

.subtitleIcon {
  margin-right: var(--p2);
  font-size: var(--f6);
}

.red {
  color: var(--brand-red);
}

.blue {
  color: var(--brand-blue);
}

.green {
  color: var(--brand-green);
}

.orange {
  color: var(--brand-orange);
}

.purple {
  color: var(--brand-purple);
}

.grey {
  color: var(--brand-grey);
}

@media (min-width: 60em) {
  .containerInner {
    width: 66.6%;
  }
}
