.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.containerInner {
  width: min(100%, 60ch);
  padding: var(--p2);
}

.box {
  overflow: hidden;
  border: var(--bw1) solid var(--bg-1);
  border-radius: var(--br4);
  padding: var(--p3);
  padding-top: var(--p2);
}

.title {
  text-align: center;
  font-size: var(--f6);
  font-weight: 600;
  color: var(--text-2);
  margin-bottom: var(--p2);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
  gap: var(--p2);
}

.subtitle {
  display: flex;
  align-items: center;
}

.subtitleText {
  font-size: var(--f6);
  color: var(--text-1);
}

.subtitleIcon {
  margin-right: var(--p2);
  font-size: var(--f6);
}

.red {
  color: var(--brand-red);
}

.blue {
  color: var(--brand-blue);
}

.green {
  color: var(--brand-green);
}

.orange {
  color: var(--brand-orange);
}

.purple {
  color: var(--brand-purple);
}

.grey {
  color: var(--brand-grey);
}
