@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext');

.opensans {
  font-family: 'Open Sans', Arial, sans-serif;
}

.h2-3 {
  height: 3rem;
}

.w2-3 {
  width: 3rem;
}

.hover-db:hover {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.grid-10 {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  /* justify-content: center; */
}

.triangle {
  border-top: 13px solid transparent !important;
  border-bottom: 13px solid transparent !important;
  border-left-width: 6px !important;
}

.mt-orange {
  color: #f57c00;
}

.bg-mt-orange {
  background-color: #f57c00;
}

.b--mt-orange {
  border-color: #f57c00;
}

.mt-dark-orange {
  color: #e65100;
}

.bg-mt-dark-orange {
  background-color: #e65100;
}

.hover-bg-mt-dark-orange:hover {
  background-color: #e65100;
}

.mt-light-orange {
  background-color: #ffcc80;
}

.bg-mt-light-orange {
  background-color: #ffcc80;
}

.mt-purple {
  color: #7b1fa2;
}

.bg-mt-purple {
  background-color: #7b1fa2;
}

.b--mt-purple {
  border-color: #7b1fa2;
}

.mt-dark-purple {
  color: #4a148c;
}

.bg-mt-dark-purple {
  background-color: #4a148c;
}

.hover-bg-mt-dark-purple:hover {
  background-color: #4a148c;
}

.mt-light-purple {
  background-color: #ce93d8;
}

.bg-mt-light-purple {
  background-color: #ce93d8;
}

.mt-green {
  color: #388e3c;
}

.bg-mt-green {
  background-color: #388e3c;
}

.b--mt-green {
  border-color: #388e3c;
}

.mt-dark-green {
  color: #1b5e20;
}

.bg-mt-dark-green {
  background-color: #1b5e20;
}

.hover-bg-mt-dark-green:hover {
  background-color: #1b5e20;
}

.mt-light-green {
  background-color: #a5d6a7;
}

.bg-mt-light-green {
  background-color: #a5d6a7;
}

.b--mt-light-green {
  border-color: #a5d6a7;
}

.mt-red {
  color: #e53935;
}

.bg-mt-red {
  background-color: #e53935;
}

.b--mt-red {
  border-color: #e53935;
}

.mt-dark-red {
  color: #b71c1c;
}

.bg-mt-dark-red {
  background-color: #b71c1c;
}

.hover-bg-mt-dark-red:hover {
  background-color: #b71c1c;
}

.mt-light-red {
  background-color: #ef9a9a;
}

.bg-mt-light-red {
  background-color: #ef9a9a;
}

.mt-blue {
  color: #283593;
}

.bg-mt-blue {
  background-color: #283593;
}

.b--mt-blue {
  border-color: #283593;
}

.mt-dark-blue {
  color: #1a237e;
}

.bg-mt-dark-blue {
  background-color: #1a237e;
}

.hover-bg-mt-dark-blue:hover {
  background-color: #1a237e;
}

.mt-light-blue {
  background-color: #9fa8da;
}

.bg-mt-light-blue {
  background-color: #9fa8da;
}
