.container {
  width: 100%;
  background-color: white;
  border-radius: var(--br4);
  padding: var(--p3);
}

.title {
  font-size: var(--f4);
  font-weight: 600;
  margin-bottom: var(--p3);
  margin-top: 0;
  color: var(--title-color);
}

.border {
  padding: var(--p2) var(--p2);
  border-radius: 0 0 var(--br4) var(--br4);
  width: 90%;
  margin: 0 auto;
  margin-bottom: var(--p4);
  background-color: var(--title-color);
  filter: contrast(40%) brightness(170%);
}
