.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--p2);
  font-size: var(--f5);
  color: var(--text-1);
  background-color: var(--bg-1);
  margin-top: var(--p3);
}

.span {
  margin-bottom: var(--p2);
}

.link {
  font-weight: 600;
  color: var(--text-1);
}

.link:hover {
  cursor: pointer;
  color: var(--text-2);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--p2) 0;
}
