.button {
  background-color: var(--brand-grey);
  color: var(--bg-2);
  padding: var(--p2);
  border: 0;
  border-radius: var(--br-pill);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button:hover {
  background-color: var(--text-2);
  cursor: pointer;
}

.icon {
  font-size: var(--f4);
  margin-right: var(--p2);
}

.text {
  font-weight: 300;
  font-size: var(--f6);
}

.bold {
  font-weight: 700;
}
