.container {
  font-weight: 300;
  color: var(--text-1);
  font-size: var(--f6);
  line-height: var(--lh-copy);
}

.textEntry {
  margin-bottom: var(--p3);
}

.bold {
  font-weight: 600;
}

.link {
  color: var(--text-1);
}

.link:hover {
  color: var(--text-2);
}
