.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  margin-bottom: var(--p1);
  font-size: var(--f5);
  color: var(--text-2);
}

.list {
  display: flex;
  flex-wrap: wrap;
}
