.modal {
  border-radius: var(--br4);
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--bg-2);
}

.container {
  padding: 0 var(--p3);
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p3);
}

.entry.stripe {
  background-color: var(--bg-1);
}

.pill {
  width: var(--h4);
  text-align: center;
  padding: var(--p1) var(--p2);
  color: var(--bg-2);
  font-size: var(--f4);
  font-weight: 600;
  margin-bottom: var(--p4);
  border-radius: var(--br-pill);
  background-color: var(--pill-color);
}

.name {
  font-weight: 400;
  padding-right: var(--p2);
  color: var(--text-1);
  line-height: var(--lh-title);
}

@media (min-width: 60em) {
  .modal {
    width: 70%;
  }
}
