.modal {
  border-radius: var(--br4);
  margin: 1.2rem;
  width: calc(100% - 2 * 1.2rem);
  padding-left: 0;
  padding-right: 0;
  background-color: var(--bg-2);
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
}

.container {
  padding: 0 var(--p3);
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p3);
  gap: var(--p2);
}

.entry.stripe {
  background-color: var(--bg-1);
}

.pill {
  display: inline-block;
  text-align: center;
  padding: var(--p1) var(--p3);
  color: var(--bg-2);
  font-size: var(--f5);
  font-weight: 600;
  margin-bottom: var(--p4);
  border-radius: var(--br-pill);
  background-color: var(--pill-color);
}

.name {
  color: var(--text-1);
  line-height: var(--lh-title);
  font-weight: 600;
  font-size: var(--f6);
}
