.label {
  font-weight: 700;
  margin-bottom: var(--p1);
  font-size: var(--f5);
  color: var(--near-black);
}

.input {
  border: var(--bw1) solid var(--grey-200);
  border-radius: var(--br2);
  font-weight: 700;
  text-align: center;
  font-size: var(--f4);
  width: var(--h3);
  color: var(--grey-800);
}

.input.active {
  border-color: var(--grey-500);
}
