.grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  width: min(100%, 40ch);
  margin: var(--p3) auto;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--p4);
}

.percentage {
  font-weight: 600;
  font-size: var(--f3);
  color: var(--brand-blue);
}

.subtitle {
  font-size: var(--f5);
  text-align: center;
  color: var(--text-1);
}
