.container {
  display: flex;
  border: var(--bw1) solid var(--brand-blue);
  border-radius: var(--br3);
  overflow: hidden;
}

.button {
  width: 25%;
  text-align: center;
  font-weight: 600;
  border: 0;
  padding: var(--p1) 0;
}

.selected {
  background-color: var(--brand-blue);
  color: var(--bg-2);
}

.unselected {
  color: var(--brand-blue);
  background-color: var(--bg-2);
}

.unselected:hover {
  background-color: var(--bg-1);
  cursor: pointer;
}

@media (min-width: 60em) {
  .container {
    margin: 0 var(--p3);
  }
}
