.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 160ch) minmax(0, 1fr);
  grid-gap: var(--p2);
}

.wrapper > main {
  grid-column: 2 / span 1;
}

.main {
  width: 100%;
  margin: 0 auto;
}
